@using DoAnChuyenNganh.Models
@model IEnumerable<ChuXe>
@{
    ViewBag.Title = "Danh sách yêu cầu";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10); //khởi tạo control webgird

}

<div class="card flex-md-fill">
    <h2>@ViewBag.Title</h2>
    <div class="card-body">
        @*<p>
                @Html.ActionLink("Thêm mới", "TaoMoi", null, htmlAttributes: new { @class = "btn btn-sm btn-warning font-weight-bold " })
            </p>*@
        @using (Html.BeginForm("YeuCauChoThueXe", "QuanLyChuXe", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group form-inline" style="display: flex;">
                <input type="Text" style="width: 300px" class="form-control col-md-10" value="@ViewBag.Keyword"
                       name="searchString" placeholder="Nhập từ khóa">

            </div>
            <input type="submit" class="btn btn-info" value="Tìm Kiếm" style="margin-left:-40px">
        }
    <div id="divPartialView">
        @Html.Partial("_IndexPartial")
             
    </div>
    </div>
</div>