
@{
    ViewBag.Title = "TimXeTuLai";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/Assets/images/contact.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("Index","Home")">Trang chủ <i class="ion-ios-arrow-forward"></i></a></span> <span>Đặt xe <i class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Xe Tự Lái</h1>
            </div>
        </div>
    </div>
</section>
<div class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12	featured-top">
                <div class="row no-gutters">

                    <div class="col-md-4 d-flex align-items-center">

                        <div class="request-form ftco-animate bg-primary">
                            @using (Html.BeginForm("TimXeTuLai", "Xe"))
                            {
                                <div class="form-group">
                                    <label for="from" class="label">Địa điểm</label>
                                    <input type="text" @*id="from"*@ name="diachi" value="" class="form-control" placeholder="Thành phố, Sân bay,..." autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="to" class="label">Địa điểm</label>
                                    <input type="text" id="to" name="" class="form-control" placeholder="Thành phố, Sân bay,...">
                                </div>
                                <div class="d-flex">
                                    <div class="form-group mr-2">
                                        <label for="" class="label">Bắt đầu</label>
                                        <input type="date" class="form-control" @*id="book_pick_date"*@ id="d1" placeholder="Ngày đi">
                                    </div>
                                    <div class="form-group ml-2">
                                        <label for="" class="label">Kết thúc</label>
                                        <input type="date" class="form-control"
                                               id="d2" @*id="book_off_date"*@ placeholder="Ngày về">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" @*value="Tìm xe"*@ class="btn btn-secondary py-3 px-4">
                                </div>
                            }
                        </div>

                    </div>
                    <div class="form-group">
                        <div id="googleMap" hidden>

                        </div>
                        <div id="output" hidden>

                        </div>
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="services-wrap rounded-right w-100">
                            <h3 class="heading-section mb-4">Cách thức đặt xe</h3>
                            <div class="row d-flex mb-4">
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Chọn điểm đến</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Đặt xe & trải nghiệm chuyến đi</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Kết thúc</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-9 ftco-animate">
                <section class="ftco-section bg-light">
                    <div class="container">
                        <div class="row">
                            @foreach (var item in Model)
                            {

                                <div class="col-md-6">
                                    <div class="car-wrap rounded ftco-animate">
                                        <div class="img rounded d-flex align-items-end" style="background-image: url(/Assets/images/xe/@item.HinhAnh);">
                                        </div>
                                        <div class="text">
                                            <h2 class="mb-0"><a href="@Url.Action("ChiTietXe","Xe", new { id = item.MaXe})">@item.TenXe</a></h2>
                                            <div class="d-flex mb-3">
                                                
                                                <p class="price ml-auto">@item.Gia.ToString("#,##0").Replace(',', '.') VNĐ <span>/ngày</span></p>
                                            </div>
                                            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Đặt xe</a> <a href="car-single.html" class="btn btn-secondary py-2 ml-1">Chi tiết</a></p>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>